header {
    margin-bottom: 16px;
}

#carousel {
    width: 94vw;
    overflow-x: auto;
}

#logo {
    width: 123px;
    margin-top: 34px;
}

#search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
    max-width: 343px;
    border: none;
    border-radius: 25px;
    background-color: #F8F9FA;
    height: 54px;
    margin-top: 15px;
    margin-right: 15px;
    padding-left: 17px;
}

#inputSearch {
    border: none;
    border-radius: 25px;
    background-color: #F8F9FA;
    
}
#clickSearch {
    width: 44px;
    height: 44px;
    background-color: #FFE9EE;
    border: none;
    border-radius: 50px;
    margin-right: 6px;
}

#clickSearch img {
    width: 16px;
}

#filterButtons {
    display: flex;
    width: fit-content;
    gap: 5px;
}

.filters {
    height: 40px;
    border: none;
    border-radius: 25px;
    display: flex;
    align-items: center;
    margin-bottom: 27px;
}

#all {
    width: 72px;
    border: 1px solid black;
    background-color: #F8F9FA;    
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#products {
    width: 148px;
    background-color: #FFF7F4;
}

#fruits {
    width: 107px;
    background-color: #FFE4EA;
}

#drinks {
    width: 148px;
    background-color: #F3EEF5;
}

.imgFilters {
    width: 18px;
    margin-right: 15px;
    margin-left: 15px;
}

.imgshowase {
    width: 296px;
    height: 200px;
}

.information {
    width: 296px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.information h2 {
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    margin-bottom: 16px;
    font-family: 'Poppins', sans-serif;    
}

.spanShowase {
    position: relative;
    bottom: 20px;
    left: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 18px;
    background: #FFE9EE;
    border-radius: 30px;
    width: 132px;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;    
}

.spanShowase img {
    width: 15px;
    margin-right: 9px;
}

.description {
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
    font-family: 'Poppins', sans-serif;
    margin-bottom: 27px;
}

.imgAddCart {
    background-color: transparent;
    border: none;
}

.imgAddCart img{
    width: 35px;
    margin-right: 5px;
    
}

#priceBuy {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#showcaseList {
display: flex;
}

#showcaseList li {
    margin-right: 26px;
}

#titleCart {
    background-color: #FF2253;
    color: #FFFFFF;
    width: 90vw;
    max-width: 343px;
    font-family: 'Poppins', sans-serif;
    height: 60px;
    border-radius: 15px 15px 0 0;
    margin-bottom: 6px;
    display: flex;
    align-items: center;
    margin-top: 37px;
}

#titleCart img {
    width: 15px;
    margin: 21px;
}

.emptyCart {
    width: 90vw;
    max-width: 343px;
    height: 432px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.emptyCart img {
    width: 56px;
    margin-bottom: 16px;
}

.emptyCart h3 {
    font-family: 'Poppins' sans-serif;
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 16px;
    color: #868E96;
}

.emptyCart p {
    font-family: 'Poppins' sans-serif;
    font-size: 13px;
    margin-bottom: 16px;
    color: #868E96;
    width: 180px;
    text-align: center;
}

.products--card {
    display: flex;
    width: 90vw;
    max-width: 343px;
}

.img--card {
    width: 75px;
    height: 75px;
    margin: 18px 13px 23px 10px; 
    border-radius: 8px;   
}

#cartList .info h2 {
    width: 160px;
    height: 22px;
    display: inline-block;
    white-space: nowrap;
    text-overflow: clip ellipsis;
}

.imgRemoveCart {
    background-color: transparent;
    width: 26px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    margin-top: 18px;
}

.imgRemoveCart img{
    width: 26px;
    height: 26px;
}

#shoppingCart ul{
    width: 90vw;
    max-width: 343px;
    height: 436px;
    overflow-x: auto;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-top: 18px;
    padding-bottom: 18px;
}

.info h2 {
    font-size: 14px;
    font-weight: bold;
    height: 22px;
    line-height: 20px;
}

#quantityProducts {
    width: 90vw;
    max-width: 343px;
    display: flex;
    justify-content: space-between;
    height: 38px;
    background-color: #F8F9FA;
    align-items: center;
    padding-right: 20px;
    padding-left: 20px;
}

#totalPrice {
    width: 90vw;
    max-width: 343px;
    display: flex;
    justify-content: space-between;
    height: 38px;
    align-items: center;
    padding-right: 20px;
    padding-left: 20px;
}

#totalPrice p, span{
    font-weight: bold;
    font-size: 12px;
    font-family: 'Poppins';
}

#quantityProducts p, span{
    font-weight: bold;
    font-size: 12px;
    font-family: 'Poppins';
}

@media(min-width: 700px){
    header {
        display: flex;
        border-bottom: 1px solid #fff;
        justify-content: space-between;
        padding-left: 25px;
        align-items: center;
    }
    main {
        width: 80vw;
        padding-top: 42px;
        padding-left: 25px;
    }

    #logo {
        margin-top: auto;
    }

    #carousel {
        width:79vw;
        overflow: visible;
    }

    #showcaseList {
        overflow: auto;
    }

    #filterButtons {
        gap: 30px;
    }
}

@media(min-width: 768px) and (max-width: 1500px){
    header {
        width: 90vw;
    }
    main {
        display: flex;
        width: 90vw;
    }

    #showcaseList {
        flex-wrap: wrap;
        width: 60vw;
        height: 650px;
        justify-content: space-around;
    }
    #showcaseList ul {
        width: 400px;
        margin-right: 26px;
    }

    #showcaseList li {
        width: 200px;
        margin-right: 26px;
    }

    .imgshowase {
        width: 200px;
        height: 150px;
    }

    #titleCart {
        margin-top: 0px;
    }

    #filterButtons {
        width: 60vw;
        gap: 12px;
    }

    .information {
        width: 200px;
    }

    .information h2{
        height: 25px;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .information p{
        height: 50px;
        text-overflow: auto;
        
    }

    #titleCart {
        width: 34vw;
    }

    .emptyCart {
        width: 34vw;
    }

    #totalPrice{
        width: 34vw;
    }

    #quantityProducts{
        width: 34vw;
    }

    #shoppingCart ul{
        width: 34vw;
    }

    .products--card{
        width: 34vw;
    }
}

@media(min-width: 1501px) {
    header {
        width: 90vw;
        max-width: 1500px;
    }
    main {
        display: flex;
        width: 90vw;
        max-width: 1500px;
        background-color: rgba(230, 230, 230, 0.158);
        padding-left: 20px;
        padding-right: 30px;
    }

    #showcaseList {
        flex-wrap: wrap;
        width: 60vw;
        height: 650px;
        justify-content: space-around;
        max-width: 1100px;
    }
}